.slideContent {
  max-width: 900px;
  height: 350px; 
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 6rem;
  background-color: rgba(255, 214, 224, 0);
  border-radius: 16px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); */
}

.aboutCarousel {
max-width: 900px;
  height: fit-content;
  display: inline-block;
  flex-grow: 1;
}


.collegeSlideImg {
  width: 100px;
  height: auto;
  flex-shrink: 0;
  margin-top: 8px;
}


.slideTextBlock {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000000;
  font-weight: 500;
}

.slideTextBlock ul {
  margin-top: 1rem;
  padding-left: 1.4rem;
  list-style-type: disc;
}

.slideTextBlock li {
  margin-bottom: 0.5rem;
}

.slideTextBlock li::marker {
  color: #d72638; 
  font-size: 1.2rem;
}

.overview
{
 display: block; 
   height: 350px; 
}