section {
  /* height: 800px; */
}

#home {
  height: 800px;
}
#home {
  display: flex;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
}

#projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(12, 171, 168, 1),
    rgba(12, 171, 168, 0));
}

#about {
  padding-top: 1rem;
  /* background: linear-gradient(
    rgba(248, 249, 250, 0.507),
    rgba(234, 234, 234, 0)
  ); */
  background-image: linear-gradient(
    rgba(248, 249, 250, 0),
    rgba(12, 171, 168, 1),
    rgba(12, 171, 168, 1)
  );
}
#aboutTimeline,
#aboutSkills {
  margin: 2rem 0 0 0;
}

#websiteContainer {
  position: relative;
  background-image: linear-gradient(
    -45deg,
    rgb(196, 255, 178),
    rgb(219, 131, 131),
    rgb(90, 123, 196),
    rgb(60, 231, 83)
  );
  background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;
  overflow: hidden;
  /* Margin top must be negative value of navi height */
  margin-top: -87px;
}

#contact {
  background-color: rgba(0, 0, 0, 0.788);
}

#noiseOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/noisy.png");
  background-repeat: repeat;
  opacity: 0.25;
  pointer-events: none;
  z-index: 0;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%, 0 0;
  }
  50% {
    background-position: 100% 50%, 0 0;
  }
  100% {
    background-position: 0% 50%, 0 0;
  }
}

.homeOverContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  z-index: 2;
}
.topSection {
  background-color: rgba(255, 255, 255, 0.432);
}
/* 
.homeBuffer {
  background-image: linear-gradient(
    rgba(248, 249, 250, 0),
    rgb(248, 249, 250),
    rgb(248, 249, 250),
    rgb(248, 249, 250),
    rgba(248, 249, 250, 0)
  );
  z-index: 3;
  height: 100px;
  width: 100%;
} */
