.projectContainer {
  grid-area: 1 / 1;

  display: flex;
  width: 66vw;
  margin: 2rem;
  gap: 2rem;
  background-color: rgba(128, 128, 128, 0);
  padding: 5rem 10% 5rem 5rem;
  background: linear-gradient(
    to right,
    rgba(248, 249, 250, 0.507),
    rgba(234, 234, 234, 0.589)
  );
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 2% 50%, 0% 0%);
    opacity: 0;
    transform: translateX(-10000px);
    transition: transform 0.5s ease-out, opacity 1s ease-out;

}
.projectsContainer {
  height: fit-content;
  display: grid;
  place-items: center;
  position: relative;
}


@media (max-width: 1300px) {
  .projectContainer {
    flex-direction: column;
    align-items: center;
  }
}
/* @keyframes moveProject {
  from {
    transform: translateX(-5000px);
  }
  to {
    transform: translateX(0px);
  }
} */

.slideIn {
  opacity: 1;
  transform: translateX(0);
}

.infoContainer {
  max-width: 500px;
  align-content: center;
}

.projectImg {
  width: 100%;
  height: auto;

  transition: transform 0.5s;
  overflow: hidden;
}

.projectLink {
  width: 50%;
  text-decoration: none;
  color: black;
}
.projectImg:hover {
  transform: scale(1.1);
}
.projectTitle {
}

.imageContainer {
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
}

.projectReadme {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.githubLinkImage {
  width: 2rem;
  height: 2rem;
  color: black;
  transition: color 0.4s ease;
}

.githubLinkImage:hover {
  color: rgb(161, 161, 238);
}

.projectTag {
  width: 10rem;
  background-color: rgba(177, 177, 255, 0.384);
  border-radius: 1rem;
}

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  gap: 1rem;
  margin: 1rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.supplemental {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.embededVideo {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.videoContainer {
  width: 365px;
  border-radius: 2rem;
  overflow: hidden;
}

.cubeSolverImg {
  width: 25%;
  height: 100%;
  border-radius: 2rem;
}
.projectLink {
  width: 100%;
  align-content: center;
  align-items: center;
}

.activeProjectButton {
  background-color: rgba(161, 161, 238, 0.384);
  border-radius: 1rem;
}

.projectButton:hover {
  cursor: pointer;
  background-color: rgba(161, 161, 238, 0.384);
  box-shadow: 0 0 16px 4px rgba(161, 161, 238, 0.7),
    0 0 32px 8px rgba(161, 161, 238, 0.3);
  transition: box-shadow 0.3s;
}

.projectButton {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 30ch;
}
.projectButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
